//COLORS

$Violet: hsl(257, 40%, 49%);
$Soft-Magenta: hsl(300, 69%, 71%);
$White:#fff;

//UI

$background-main:$Violet;
$background-link:$White;
$background-link-hover:$Soft-Magenta;
$color-text: $White;