@import'normalize','variables','settings';

body {
    background:url(../images/bg-mobile.svg) no-repeat;
    background-color:$background-main;
    color:$color-text;
    font-family: 'Open Sans', sans-serif;
    font-size:1.6rem;
    text-align: center;
}

.padding {
    padding-right:4rem;
    padding-left:4rem;
}

.header {
    padding-top:3.8rem;
    padding-bottom:6.98rem;
}

.logo {
    display:block;
    width:120px;
}

.hero {
    margin-bottom:6rem;
}

.content {

    &__heading {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 3.6rem;
        margin-bottom: 1.6rem;
    }

    &__paragraph {
        font-size:1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        margin-bottom:2.4rem;
    }

    &__link {
        font-family: 'Poppins', sans-serif;
        color:$Violet;
        background:$background-link;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
        border-radius: 20px;
        display:inline-block;
        font-size:1.2rem;
        line-height:1.8rem;
        padding:1.1rem 7.5rem 1rem;
        margin:auto;
        margin-bottom:6.4rem;
    }
}

.social {
    margin-bottom:4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        width: 27px;
        height: 27px;
        border:0.798301px solid white;
        border-radius: 100%;
        display: block;
    }

    &__wrapper + &__wrapper {
        margin-left:1rem;
    }
}

.fab {
    font-size: 1.2rem;
    color: white;
    position: relative;
    top:2px;
}

  @media screen and (min-width:700px) {

        body {
            background:url(../images/bg-desktop.svg) no-repeat;
            background-color: $background-main;
        }

      .main {
          @include flexCenter(row);
          align-items: flex-start;
      }

      .site-image {
          margin-right:3rem;
          width:60%;
      }

      .content {
          text-align:left;
          width:40%;

          &__register {
              margin:0;
              text-align: center;
          }

          &__register:hover {
              background: $background-link-hover;
              box-shadow: 0px 0px 10px hsl(257, 76%, 15%);
              color:$color-text;
          }
      }

      .fab:hover {
          color:$background-link-hover;
          cursor: pointer;
          border-color: $background-link-hover;
      }

      .fab {
          font-size:2rem;
      }

      .social {
          margin-top:calc(10vw);
          text-align: right;
      }
  }