@import'normalize','variables','settings';

body {
    background-color:$background-main;
    color:$color-text;
    font-family: 'Open Sans', sans-serif;
    font-size:1.6rem;
    text-align: center;
}

.container {
    background:url(../images/bg-mobile.svg) no-repeat;
}

.padding {
    padding-right:4rem;
    padding-left:4rem;
}

.header {
    padding-top:3.8rem;
    padding-bottom:6.98rem;

    &__logo {
        display:block;
        width:120px;
    }
}

.hero {
    margin-bottom:6rem;
}

.content {

    &__heading {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 3.6rem;
        margin-bottom: 1.6rem;
    }

    &__paragraph {
        font-size:1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        margin-bottom:2.4rem;
    }

    &__link {
        font-family: 'Poppins', sans-serif;
        color:$Violet;
        background:$background-link;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
        border-radius: 20px;
        display:inline-block;
        font-size:1.2rem;
        line-height:1.8rem;
        padding:1.1rem 7.5rem 1rem;
        margin:auto;
        margin-bottom:6.4rem;
    }
}

.social {
    margin-bottom:4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        width: 27px;
        height: 27px;
        border:0.798301px solid white;
        border-radius: 100%;
        display: block;
    }

    &__wrapper + &__wrapper {
        margin-left:1rem;
    }
}

.fab {
    font-size: 1.2rem;
    color: white;
    position: relative;
    top:2px;
}

@media screen and (min-width:1300px) {

    .padding {
        padding:0;
    }

    .container {
        background:url(../images/bg-desktop.svg) no-repeat;
        max-width: 144rem;
        margin: auto;
        min-height: 100vh;
    }

    .main, .header, footer {
        width: 127.5rem;
        margin:auto;
    }

    .header {
        padding-top:8rem;
        margin-bottom:10rem;

        &__logo {
            width: 193px;
        }
    }

    .main {
        @include flexCenter(row);
        justify-content: space-between;
        align-items: flex-start;
    }

    .hero {
        width:696px;
        margin-bottom: 0;
    }

    .content {
        padding-top:3.2rem;
        text-align:left;
        width:52rem;

        &__heading {
            font-size: 4rem;
            line-height: 6rem;
            margin-bottom:2.4rem;
        }

        &__paragraph {
            font-size: 1.8rem;
            line-height: 2.7rem;
            font-weight: 400;
            margin-bottom:2.4rem;
        }

        &__link {
           padding:1.3rem 6.3rem 1.6rem;
           border-radius: 2.8rem;
           font-size: 1.8rem;
           line-height: 2.7rem
        }

        &__link:hover {
            background: $background-link-hover;
            box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
            color:$color-text;
        }
    }

    footer {
        margin-top:2.7rem;
    }

    .social {
        justify-content: flex-end;

        &__wrapper {
            width: 40px;
            height: 40px;
            border: 1.17647px solid #FFFFFF;
        }

        &__wrapper + &__wrapper {
            margin-left:1.6rem;
        }

        &__wrapper:hover {
            cursor: pointer;
            border-color: $background-link-hover;
        }
    }

    .fab:hover {
        color:$background-link-hover;
        cursor: pointer;
        border-color: $background-link-hover;
    }

    .fab {
        font-size:1.8rem;
        top:9px;
    }
  }